# Données — fichiers lourds, ne pas versionner
data/*.duckdb
data/*.csv
# data/*.parquet
input_data/

# Environnement Python
.venv/
__pycache__/
*.pyc
*.pyo
.Python

# Streamlit cache
.streamlit/cache/

# Système
.DS_Store
Thumbs.db


# Other
to_do.txt
.~lock.*#
